build/
rel/
patch/
utils/
releases/
*.layout
*.depend
*.cscope_file_list
cmake-build-*/
.idea/
.output.txt
base.obj
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
*.cbp
cmake_install.cmake
CMakeFiles/
